<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>clubAnim_frontend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  


  <servlet>
    <description></description>
    <display-name>ActionIdentifier</display-name>
    <servlet-name>ActionIdentifier</servlet-name>
    <servlet-class>j2ee.ActionIdentifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionIdentifier</servlet-name>
    <url-pattern>/ActionIdentifier</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ActionCreer</display-name>
    <servlet-name>ActionCreer</servlet-name>
    <servlet-class>j2ee.ActionCreer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionCreer</servlet-name>
    <url-pattern>/ActionCreer</url-pattern>
  </servlet-mapping>
  <servlet>
  
  <description></description>
    <display-name>ActionChangerPassword</display-name>
    <servlet-name>ActionChangerPassword</servlet-name>
    <servlet-class>j2ee.ActionChangerPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionChangerPassword</servlet-name>
    <url-pattern>/ActionChangerPassword</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionChangerAdresse</display-name>
    <servlet-name>ActionChangerAdresse</servlet-name>
    <servlet-class>j2ee.ActionChangerAdresse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionChangerAdresse</servlet-name>
    <url-pattern>/ActionChangerAdresse</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionChangerTelephone</display-name>
    <servlet-name>ActionChangerTelephone</servlet-name>
    <servlet-class>j2ee.ActionChangerTelephone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionChangerTelephone</servlet-name>
    <url-pattern>/ActionChangerTelephone</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionChangerMail</display-name>
    <servlet-name>ActionChangerMail</servlet-name>
    <servlet-class>j2ee.ActionChangerMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionChangerMail</servlet-name>
    <url-pattern>/ActionChangerMail</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionRenvoyerPasswordClient</display-name>
    <servlet-name>ActionRenvoyerPasswordClient</servlet-name>
    <servlet-class>j2ee.ActionRenvoyerPasswordClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionRenvoyerPasswordClient</servlet-name>
    <url-pattern>/ActionRenvoyerPasswordClient</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionListerClient</display-name>
    <servlet-name>ActionListerClient</servlet-name>
    <servlet-class>j2ee.ActionListerClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionListerClient</servlet-name>
    <url-pattern>/ActionListerClient</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionChangerReductionClient</display-name>
    <servlet-name>ActionChangerReductionClient</servlet-name>
    <servlet-class>j2ee.ActionChangerReductionClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionChangerReductionClient</servlet-name>
    <url-pattern>/ActionChangerReductionClient</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionAjouterProduit</display-name>
    <servlet-name>ActionAjouterProduit</servlet-name>
    <servlet-class>j2ee.ActionAjouterProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionAjouterProduit</servlet-name>
    <url-pattern>/ActionAjouterProduit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionChangerQuantiteProduit</display-name>
    <servlet-name>ActionChangerQuantiteProduit</servlet-name>
    <servlet-class>j2ee.ActionChangerQuantiteProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionChangerQuantiteProduit</servlet-name>
    <url-pattern>/ActionChangerQuantiteProduit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionListerProduit</display-name>
    <servlet-name>ActionListerProduit</servlet-name>
    <servlet-class>j2ee.ActionListerProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionListerProduit</servlet-name>
    <url-pattern>/ActionListerProduit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionListerProduitCategorie</display-name>
    <servlet-name>ActionListerProduitCategorie</servlet-name>
    <servlet-class>j2ee.ActionListerProduitCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionListerProduitCategorie</servlet-name>
    <url-pattern>/ActionListerProduitCategorie</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ActionListerProduitSousCategorie</display-name>
    <servlet-name>ActionListerProduitSousCategorie</servlet-name>
    <servlet-class>j2ee.ActionListerProduitSousCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionListerProduitSousCategorie</servlet-name>
    <url-pattern>/ActionListerProduitSousCategorie</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ActionModifierCheminVersImage</display-name>
    <servlet-name>ActionModifierCheminVersImage</servlet-name>
    <servlet-class>j2ee.ActionModifierCheminVersImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionModifierCheminVersImage</servlet-name>
    <url-pattern>/ActionModifierCheminVersImage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionModifierDescription</display-name>
    <servlet-name>ActionModifierDescription</servlet-name>
    <servlet-class>j2ee.ActionModifierDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionModifierDescription</servlet-name>
    <url-pattern>/ActionModifierDescription</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ActionModifierPrix</display-name>
    <servlet-name>ActionModifierPrix</servlet-name>
    <servlet-class>j2ee.ActionModifierPrix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionModifierPrix</servlet-name>
    <url-pattern>/ActionModifierPrix</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionModifierQuantite</display-name>
    <servlet-name>ActionModifierQuantite</servlet-name>
    <servlet-class>j2ee.ActionModifierQuantite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionModifierQuantite</servlet-name>
    <url-pattern>/ActionModifierQuantite</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ActionModifierTitre</display-name>
    <servlet-name>ActionModifierTitre</servlet-name>
    <servlet-class>j2ee.ActionModifierTitre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionModifierTitre</servlet-name>
    <url-pattern>/ActionModifierTitre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionSupprimerProduit</display-name>
    <servlet-name>ActionSupprimerProduit</servlet-name>
    <servlet-class>j2ee.ActionSupprimerProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionSupprimerProduit</servlet-name>
    <url-pattern>/ActionSupprimerProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionCreerProduit</display-name>
    <servlet-name>ActionCreerProduit</servlet-name>
    <servlet-class>j2ee.ActionCreerProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionCreerProduit</servlet-name>
    <url-pattern>/ActionCreerProduit</url-pattern>
  </servlet-mapping>
</web-app>